<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Custom Refresher Content -->
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-content *ngIf="folder=='Home'">
    <div id="container">
      <strong class="capitalize">{{ folder }}</strong>
      <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI
          Components</a></p>
    </div>
  </ion-content>
  
  <ion-content *ngIf="folder=='Outbox'">
    <div id="container">
      <strong class="capitalize">{{ folder }}</strong>
      <p>Explore My Ass</p>
    </div>
  </ion-content>
  
  <ion-content *ngIf="folder=='Favorites'">
    <ion-list  style="width:100%;height:100%">
      <iframe src="https://thingsboard.uclv.cu/dashboard/6d2c8760-b721-11ea-a0ce-e527f67127c3?publicId=64abda20-b5df-11ea-a0ce-e527f67127c3"  style="width:100%;height:100%" scrolling="yes" ></iframe>
   </ion-list>
    </ion-content>
  
  <ion-content *ngIf="folder=='Hire'">
    <div id="container">
      <ion-card>
        <form [formGroup]="studentForm" (ngSubmit)="CreateRecord()">
  
          <ion-item>
            <ion-label position="floating">Name</ion-label>
            <ion-input formControlName="Name"></ion-input>
          </ion-item>
    
          <ion-item>
            <ion-label position="floating">Age</ion-label>
            <ion-input formControlName="Age"></ion-input>
          </ion-item>
    
          <ion-item>
            <ion-label position="floating">Address</ion-label>
            <ion-input formControlName="Address"></ion-input>
          </ion-item>
    
          <ion-item>
            <ion-button (click)="CreateRecord()" [disabled]="studentForm.invalid">
              <ion-icon size="small" slot="icon-only" name="add"></ion-icon>
              &nbsp;Create Record
            </ion-button>
          </ion-item>
    
        </form>
    
    
        <ion-card *ngFor="let item of studentList" color="primary">
          <span *ngIf="!item.isEdit; else elseBlock">
            <ion-card-header>
              <ion-card-title>{{item.Name}} of {{item.Age}} years</ion-card-title>
              <ion-card-subtitle>From: {{item.Address}}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
    
              <ion-button shape="round" color="secondary" size="small" (click)="EditRecord(item)">
                <ion-icon size="small" slot="icon-only" name="create"></ion-icon>
    
              </ion-button>
              <ion-button shape="round" color="danger" size="small" (click)="RemoveRecord(item.id)">
                <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>
    
              </ion-button>
            </ion-card-content>
          </span>
          <ng-template #elseBlock>
            <ion-card-header>
              <ion-card-title>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      Edit
                    </ion-col>
                    <ion-col>
                      <ion-button fill="solid" color="medium" size="small" (click)="item.isEdit = false">
                        Cancel
                      </ion-button>
                    </ion-col>
                    <ion-col>
                      <ion-button fill="solid" color="success" size="small" (click)="UpdateRecord(item)">
                        Update
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-item>
                <ion-label><strong>Name</strong></ion-label>
                <ion-input type="text" [(ngModel)]="item.EditName"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label><strong>Age</strong></ion-label>
                <ion-input type="text" [(ngModel)]="item.EditAge"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label><strong>Address</strong></ion-label>
                <ion-input type="text" [(ngModel)]="item.EditAddress"></ion-input>
              </ion-item>
            </ion-card-content>
          </ng-template>
        </ion-card>
      </ion-card>
      
  
    </div>
  
  </ion-content>
</ion-content>

